.box {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vw;
  width: 15vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  margin: 2vw;
  height: 3vw;
  font-size: 1.5vw;
}
