.box {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vw;
  width: 15vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  margin: 2vw;
  height: 3vw;
  font-size: 1.5vw;
}

input {
  margin: 0vw 2vw 0vw 2vw;
  height: 2vw;
  font-size: 1.5vw;
}

label {
  margin: 1.5vw 0vw 0vw 2vw;
  font-size: 1.5vw;
}

.submit {
  margin-top: 0vw;
}
